:root {
  --bg: #fff;
  --color-primary: #515a6e;
  --bg-secondary: #3f51b5;
  --bg-top: #ff4081;
  --bg-content: #fff;
  --font-color: #000;
}

.dark-mode {
  --bg: #15202b;
  --color-primary: #fff;
  --bg-secondary: #192734;
  --bg-top: #192734;
  --bg-content: #192734;
  --font-color: #fff;
}

.syblue-mode {
  --bg: rgba(10,211,247,0.36863);
  --color-primary: #000000ad;
  --bg-secondary: #0ad3f7;
  --bg-top: #0ad3f7;
  --bg-content: #0ad3f7;
  --font-color: #000000c9;
}


// Global variable
@background-color: var(--bg-secondary);
@webkit-scrollbar: 9px;
@webkit-scrollbar-thumb: rgb(2 2 2 / 45%);
@scrollbar-border-radius: 0px;
@Global-transition: 300ms;

// appbar variable
@appbar-width: 48px;
@appbar-height: 48px;
@appbar-font-size: 23px;
@appbar-line-height: 48px;
@appba-transition: 300ms;
@appbar-z-index: 9;

// drawer variable
@drawer-width-img: 130px;
@drawer-margin: 20px;
@drawer-border-radius: 50%;
@drawer-transition: 300ms;


// footer variable
@footer-background-color: var(--bg-secondary);
@footer-padding: 25px;


// markdown variable
@markdown-font-color: #ff4081;
@markdown-strong-b: #ff3c00;
@markdown-em-i: #009688;
@markdown-transition: 160ms;
